<html>
<head>
  <title>{{ page.title}}</title>
  <style type="text/css">
  @import url("style.css");
  </style>
</head>
<body>
<div id="container">

<div id="titlebar">
<div id="titleright">Versatile BetaBrite<br/>LED Sign Control</div>
<div id="titleleft">//<a href="/">bbusb</a></div>
</div>

<div id="leftcol">
<div id="menu">
/<a href="docs.shtml">docs</a><br/>
/<a href="videos.shtml">videos</a><br/>
/<a href="download.shtml">download</a><br/>
/<a href="scripts.shtml">scripts</a><br/>
</div>
</div>

<div id="rightcol">
<div id="content">

{{ content }}

</div>
</div>

</div>
</body>
</html>
